@{
    ViewBag.Title = "Home Page";
}
<div id="login-slogan">
    <img src="../../lk4/Content/img/tl-pr/slogan_lookhereformaturas.png">
</div><!-- SLOGAN-->
<div id="cont-wrp">
    <!-- CONTAINER WRP -->
    <div class="cont-left70">
        <div id="boleto">
            <!--DIV BOLETO -->
            <div id="text-boleto">Marcelo, você não possui boletos pendentes.</div><!-- TEXT BOLETOS PENDENTES-->
            <div id="img-boleto"><img src="../../lk4/Content/img/tl-pr/boleto.png"></div><!-- IMAGEM BOLETO -->
            <div id="nmbr-blt">12</div><!-- NUMERO NOTIFICAÇÕES-->
        </div>
        <div class="cont-left50">
            <!-- CONTAINER LEFT 50% -->
            <div class="img-contrato">
                <img src="../../lk4/Content/img/contrato.png">
                <div id="text-cont-right50">Contrato</div>
            </div><!-- IMAGEM CONTRATO-->
        </div>
        <div class="cont-right50">
            <!-- CONTAINER RIGHT 50% -->
            <div class="img-agenda">
                <img src="../../lk4/Content/img/agenda.png">
                <div id="text-cont-right50">Agenda</div>
            </div><!-- IMAGEM CONTRATO -->
        </div>
    </div>
    <div class="cont-right30">
        <!-- CONTAINER RIGHT 30% -->
        <div class="facebook">
            <img src="../../lk4/Content/img/facebook.png">
            <div id="text-facebook">Facebook</div><!-- TEXT BOLETOS PENDENTES-->
        </div><!-- LOGO FACEBOOK -->
        <div class="instagran">
            <img src="../../lk4/Content/img/instagram.png">
            <div id="text-instagran">Instagran</div><!-- TEXT BOLETOS PENDENTES-->
        </div><!-- LOGO INSTAGRAM -->
    </div>

    <div id="geral">
        <div class="geral-icons"><img src="../../lk4/Content/img/agenda.png"></div>
        <div class="geral-icons"><img src="../../lk4/Content/img/whatsapp.png"></div>
        <div class="geral-icons"><img src="../../lk4/Content/img/email.png"></div>
        <div class="geral-icons-text" id="just-margin">Contatos</div>
    </div><!-- GERAL -->
</div>